In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

#versi pandas yang digunakan 1.2.4
#versi numpy menggunakan 1.20.1

1.2.4
1.20.1

In [2]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)),
                 columns=cols)
df

#dataframe yang akan dibentuk terdiri dari 10 baris 5 kolom 
#setiap kolom akan diberikan label a b c d e

   A  B  C  D  E
0  6  6  8  9  1
1  1  1  4  2  3
2  1  9  5  1  2
3  8  8  1  4  5
4  6  1  7  5  3
5  1  7  1  9  2
6  6  8  3  8  5
7  7  5  9  8  5
8  5  3  3  8  1
9  5  5  1  4  3

In [4]:
df[df['A'].between(2,5)]

#kolom A dimanfaatkan sebabagi firturing seleksi 
#between terdiri dari starting dan ending
#sifat between inklusif

   A  B  C  D  E
8  5  3  3  8  1
9  5  5  1  4  3

In [9]:
df[df['A'].between(2,5, inclusive=False)]

#mengubah fungsi between menjadi eksklusif dengan menyertakan parameter inklusif menjadi false

Empty DataFrame
Columns: [A, B, C, D, E]
Index: []